{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Get Address IO plugin for Craft CMS
 *
 * AddressLookupUsage Widget Body
 *
 * @author    Creode <contact@creode.co.uk>
 * @copyright Copyright (c) 2021 Creode <contact@creode.co.uk>
 * @link      https://creode.co.uk
 * @package   GetAddressIo
 * @since     1.0.0
 */
#}
{% if usage.hasErrors %}
    {% for error in usage.errors %}
        <p class="error">{{ error.message }}</p>
    {% endfor %}
{% else %}
    <div class="get-address-io-usage-widget">
        {% include [ 'get-address-io/_components/widgets/_displays/' ~ billing_report, 'get-address-io/_components/widgets/_displays/list' ]%}
    </div>
{% endif %}