{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Get Address IO plugin for Craft CMS
 *
 * AddressLookupUsage Widget Body
 *
 * @author    Jamie Sykes <contact@jaymeh.co.uk>
 * @copyright Copyright (c) 2021 Jamie Sykes <contact@jaymeh.co.uk>
 * @link      https://jaymeh.co.uk
 * @package   GetAddressIo
 * @since     1.0.0
 */
#}

{% set iconUrl = view.getAssetManager().getPublishedUrl('@jaymeh/getaddressio/assetbundles/addresslookupusagewidget/dist', true) ~ '/img/AddressLookupUsage-icon.svg' %}

<img src="{{ iconUrl }}" height="64" width="64" />

<p>{{ message }}</p>
